html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e2e2e2;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav li {
  padding: 0 1em;
}

a {
  text-decoration: none;
  color: #0074d9;
}

header img {
  width: 2rem;
  order: -1;
  margin-left: -2rem;
}

h1 {
  margin-left: -3rem;
}

p {
}
